#threesixty
{
  background-color:#fff
}

#threesixty.container
{
  background-color:#fff
}

#threesixty #viewer
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #DCDCDC !important;
  background:#fff;
  border:#EEE 1px solid;
  height:378px;
  margin:0 auto;
  width:640px
}

#threesixty #viewer .vr img { margin-bottom:-5px; }

#threesixty .safari_dev_center { margin-top: 2px\9; }

#threesixty .how
{
  min-height:117px;
  width:810px
}

#threesixty .how p
{
  color:#334046
}

#threesixty .how #interior_how
{
  display:none
}

#threesixty_nav
{
  width:250px
}

#threesixty_nav .label
{
  padding-top:10px
}

#threesixty #vr-clipper,#vr-container,#vr-position,#rotateX,#rotateY,#disable,.face
{
  height:378px;
  width:840px
}

#threesixty #vr-clipper
{
  -moz-border-radius:4px;
  -o-border-radius:4px;
  -webkit-border-radius:4px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  border-radius:4px;
  display:none;
  left:30px;
  overflow:hidden;
  position:absolute;
  top:110px;
  z-index:0
}

#threesixty #vr-container
{
  -webkit-perspective:520;
  -moz-perspective:520;
  perspective:520;
  cursor:move;
  position:relative
}

#threesixty #vr-position
{
  -webkit-transform:translateZ(529px);
  -webkit-transform-style:preserve-3d;
  -moz-transform:translateZ(529px);
  -moz-transform-style:preserve-3d;
  transform:translateZ(529px);
  transform-style:preserve-3d;
  position:relative
}

#threesixty #cube
{
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d;
  height:0;
  margin:0 auto;
  position:relative;
  top:440px;
  width:0
}

#threesixty #disable
{
  -webkit-user-select:text;
  -moz-user-select:text;
  user-select:text;
  background-color:orange;
  color:#000;
  font-size:18px;
  line-height:1.3;
  opacity:0.7;
  padding-top:40px;
  position:absolute;
  text-align:center;
  z-index:10
}

#threesixty .face
{
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden;
  display:block;
  height:880px;
  left:-440px;
  position:absolute;
  top:-700px;
  width:880px
}

#threesixty #face1
{
  -webkit-transform:translate3d(-439.5px,0,0) rotate3d(0,1,0,90deg);
  -moz-transform:translate3d(-439.5px,0,0) rotate3d(0,1,0,90deg);
  transform:translate3d(-439.5px,0,0) rotate3d(0,1,0,90deg)
}

#threesixty #face2
{
  -webkit-transform:translate3d(0,0,-439.5px);
  -moz-transform:translate3d(0,0,-439.5px);
  transform:translate3d(0,0,-439.5px)
}

#threesixty #face3
{
  -webkit-transform:translate3d(439.5px,0,0) rotate3d(0,1,0,-90deg);
  -moz-transform:translate3d(439.5px,0,0) rotate3d(0,1,0,-90deg);
  transform:translate3d(439.5px,0,0) rotate3d(0,1,0,-90deg)
}

#threesixty #face4
{
  -webkit-transform:rotate3d(0,1,0,180deg) translate3d(0,0,-439.5px);
  -moz-transform:rotate3d(0,1,0,180deg) translate3d(0,0,-439.5px);
  transform:rotate3d(0,1,0,180deg) translate3d(0,0,-439.5px)
}

#threesixty #face5
{
  -webkit-transform:translate3d(0,-439.5px,0) rotate3d(1,0,0,-90deg) rotate3d(0,0,1,90deg);
  -moz-transform:translate3d(0,-439.5px,0) rotate3d(1,0,0,-90deg) rotate3d(0,0,1,90deg);
  transform:translate3d(0,-439.5px,0) rotate3d(1,0,0,-90deg) rotate3d(0,0,1,90deg)
}

#threesixty #face6
{
  -webkit-transform:translate3d(0,439.5px,0) rotate3d(1,0,0,90deg) rotate3d(0,0,1,-90deg);
  -moz-transform:translate3d(0,439.5px,0) rotate3d(1,0,0,90deg) rotate3d(0,0,1,-90deg);
  transform:translate3d(0,439.5px,0) rotate3d(1,0,0,90deg) rotate3d(0,0,1,-90deg)
}

50%
{
  -webkit-transform:rotateX(-180deg);
  -moz-transform:rotateX(-180deg);
  transform:rotateX(-180deg)
}

100%
{
  -webkit-transform:rotateX(360deg);
  -moz-transform:rotateX(360deg);
  transform:rotateX(360deg);
  display:block;
  opacity:1
}

#threesixty #rotor-x,#threesixty #rotor-y
{
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d
}

#threesixty #rotateX,#threesixty #rotateY
{
  -webkit-animation-duration:5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-transform-style:preserve-3d;
  -moz-animation-duration:5s;
  -moz-animation-iteration-count:infinite;
  -moz-transform-style:preserve-3d;
  animation-duration:5s;
  animation-iteration-count:infinite;
  transform-style:preserve-3d;
  position:relative;
  width:100%
}

@media screen and -webkit-transform-3d {
  #threesixty #disable
  {
    display:none
  }
}
