/* CSS Reset (Eric Meyer) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}

body {
    background-color: #f9f9f9;
    color: #222;
    font-family: Cantarell, Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 470px;
    width: 755px;
}
@font-face {
   font-family: 'Cantarell';
   src: url(../../fonts/Cantarell-Regular.eot);
   src: local('Cantarell'), url('../../fonts/Cantarell-Regular.ttf') format('truetype');
}


table[style] { width: 615px; height: 35px !important; }  

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : none; } 
input[type="submit"]:focus, input[type="button"]:focus { outline : none; }

.clear { clear: both; }

#container {
    background: url('../../img/LogReg/container.png') no-repeat;
    width: 754px;
    height: 370px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}
    #container #first_step { display: none; height: 100%;}
    #container #first_step { display: block; }
    #container .form { 
        margin: 66px 72px 0 72px; 
        height: 100%;
    }
    #container form { 
        height: 100%;
    }
    
    #container h1, #container h2 {
        font-size: Cantarell, Verdana, sans-serif;
        text-align: center;
        font-size: 24px;
        text-shadow: 1px 1px 2px #222;
    }
        #container h1 span { color: #a90329; }
        
    #container h2 {
        color: #888;
        font-size: 20px;
        text-align: left;
        text-shadow: none;
    }
    
    #loginerror{
        color: red;
        font-size: 14px;
        font-weight: bold;
    }

    #container .form_user_field{
        background: url('../../img/LogReg/input.png') no-repeat;
        color: #888;
        border: 1px solid #ccc;
        font-family: Cantarell, Verdana, sans-serif;
        font-weight: bold;
        font-size: 15px;
        width: 300px;
        height: 35px;
        padding: 0 25px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        float: left;
        
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }
   
    input#rememberme{
        margin: 0px;
        padding: 0px;
        border: 0px;
        width: 10px;
        height: 10px;
        display: block;
        clear: left;
        float: right;
    }

    #container input.submit {
        background: url('../../img/LogReg/button.png') no-repeat;
        border: none;
        cursor: pointer;
        width: 85px;
        height: 38px;
        position:absolute; 
        bottom: 35px;
        right: 65px;
        float:right;
    }
        #container input.submit:focus { border: none; }
        
        #container input.send{ background: url('../../img/LogReg/send.png') no-repeat; }
            
        #container input.error { border: 1px solid red; }
        #container input.valid { border: 1px solid #1FFF00; }
        
        #container input:focus, #container select:focus {
            border: 1px solid #a90329;
            color: #a90329;
        }

    #container select { padding: 5px 0 5px 25px; }
        #container option { padding: 0 15px; }

    #container  .form_user_label_field {
        color: #666;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        float: right;
        margin: 23px -25px;
        width: 270px;
    }
    
    
    #container table .form_user_label_field {
        color: #666;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        margin: 0px;
        width: 100%;
        float: inside;
        padding-left: 5px;
    }
    
#progress_bar {
    background: url('../../img/LogReg/progress_bar.png') no-repeat;
    width: 339px;
    height: 24px;
    margin: 0 auto;
    position: relative;
}

#progress {
    background: url('../../img/LogReg/progress.png') repeat-x;
    width: 0px;
    height: 23px;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
#progress_text {
    position: relative;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #222;
    width: 339px;
    height: 24px;
    top: -23px;
    left: 0;
}




